$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';

.login-page {
    @extend %layout;
    background: rgba($p42-background, 0.5);
    box-shadow: 0 0 7px rgba($black , 0.22);
    margin: 100px auto !important;
    max-width: 500px !important;

    @include media('<tablet'){
        margin: 20px auto;
    }
    .global-error,
    .global-success {
        margin: 0 -15px;
    }
}
.forgot-form,
.login-form {
    @extend %layout;
    padding: 50px 10px;
    
    @include media('<tablet'){
        padding: 30px 0;
    }

    p {
        @include media('<tablet'){
            @include font(12,15);
        }
    }

    h1 {
        @include font(60,63);
        font-weight: 100;

        span { font-weight: 300;}

        @include media('<tablet'){
            @include font(30,33);
        }
    }
    
    input[type="text"],input[type="tel"],input[type="password"],input[type="number"],input[type="email"]{
        border: 0;
        width: 100%;
        padding:10px 6px;
        @include font(13,16);
        height: 40px;
        width: 100%;
        
        @include media('<tablet'){
            @include font(12,16);
        }

        @include placeholder {
            color: $dark-grey;
            opacity: 0.7;

            @include media('<widescreen'){
                @include font(11,16);
            }
        }
    }
    .layout {
        padding: 3px;
        @include align-reset(top, 13, 16);
        margin: 0 0 20px;

        @include media('<tablet'){
            margin: 0 0 20px;
            padding: 0;
            @include align-reset(top, 12, 15);
        }

        .input-holder {
            width: calc(100% - 140px);
            padding: 2px;

            @include media('<tablet'){
                width: 100%;
                padding: 0;
            }
        }
        label {
            color: $dark-grey;
            font-weight: 700;
            @extend %text-capital;
            width: 140px;
            @include font(14,17);
            padding: 7px 5px 0 0;

            @include media('<tablet'){
                @include font(12,15);
                width: 100%;
                display: block;
                padding: 0 0 5px;
            }

            &:after {
                @include align(top);
                color: $red;
                content: '*';
            }
        }
    }
    .buttons-holder {
        @extend %listreset;
        @include align-reset(top, 18,22);
        margin: 0 -5px;
        font-weight: 700;

        @include media('<tablet'){
            @include align-reset(top, 14,17);
        }

        li {
            width: 50%;
            padding: 0 5px 10px;

            a {
                text-decoration: none;
                display: block;
                color: $white;
                @extend %text-center;
                background: $p42-default-grey;
                padding: 15px;

                @include media('<tablet'){
                    padding: 10px 5px;
                }

                &:hover {
                    background: darken($p42-default-grey, 10%);
                }
            }
        }
    }
    button {
        display: block;
        width: 100%;
        border: 0;
        background: $p42-color;
        color: $white;
        @include font(18,22);
        padding: 15px;

        @include media('<tablet'){
            @include font(14,17);
            padding: 10px 5px;
        }

        span[class^="icon-"],span[class*="icon-"]{
            @include align(middle);
            margin: -3px 0 0;
            padding: 0 5px;
        }

        &:hover {
            background: $sharp-green;
        }
    }
}
.forgot-form {
    .buttons-holder {
        li {
            width: 100%;
            display: block;
        }
    }
}