$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1540px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';

.news-full-page-ui {
    position: relative;
    padding: 30px 15px;

    .col-holder {
        @extend %layout;
        margin: 0 -10px;
    }
    .col {
        width: 40%;
        padding: 0 10px;
        @extend %pull-left;

        h1 {
            padding: 10px;
            margin: 0 0 40px;
            background: $p42-color;
            color: $white;
            font-weight: 400;
        }

        .plugin-date-ui {
            @extend %layout;
            margin: 0 -5px;

            .side {
                @extend %pull-left;
                width: 50%;
                padding: 5px;

                ul {
                    @extend %listreset;
                    @include align-reset(top, 12,15);
                    margin: 0 -5px;
                    

                    li {
                        padding: 0 5px;
                    }
                }
            }
        }

        &:first-child {
            width: 60%;

            h1 {
                background: lighten($black, 15%);
                color: $white;
                position: relative;
                font-weight: 600;

                &:after {
                    position: absolute;
                    bottom: -40px;
                    left: 50px;
                    border: 15px solid transparent;
                    border-top: 25px solid  lighten($black, 15%);
                    content: '';
                }
            }
        }
    }
    .trend-news {
        @extend %listreset;

        li {
            display: block;
            padding: 3px;

            a {
                @include align(top);
                text-decoration: none;
                color: $black;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        time, span {
            display: block;
        }
        time {
            color: $p42-color;
            @include font(16,20);
            margin: 0 0 10px;
        }
        span {
            color: $p42-default-grey;
            @include font(25,28);
            margin: 0 0 10px;
        }
    }
    .subscribe-area {
        border: 1px solid $p42-color;
        border-radius: 4px;
        @extend %text-left;
        padding: 20px;

        strong, span { display: block;}
        .heading {
            position: relative;
            color: $p42-color;
            @include font(25,28);
            @extend %text-left;
            padding: 10px 10px 0 30px;
            margin: 0 0 10px;

            span {
                position: absolute;
                top: 50%;
                left: 0;
                margin: -7px 0 0;
            }
        }
        .slogan {
            color: $black;
            @include font(16,20);
            margin: 0 0 10px;
        }
        form {
            position: relative;

            input{
                @include squar(100%, 40px);
                border: 1px solid darken(#edecec, 20%);
                padding: 6px 10px;
                background: #edecec;
                transition: border 0.5s ease;
                -webkit-transition: border 0.5s ease;
                -moz-transition: border 0.5s ease;
                @include font(18,21);

                &:focus {
                    border: 1px solid $sharp-green;
                }
            }
            .input-holder {
                margin: 0 0 10px;
            }
            button {
                display: block;
                border: 0;
                background: transparent;
                @include font(20,22);
                padding: 0;
                margin: 0 0 0 auto;

                span {
                    @include align(top);
                    padding: 10px;
                    position: relative;
                    background: $p42-color;
                    color: $white;
                    z-index: 1;

                    &:after {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: $sharp-green;
                        content: '';
                        z-index: -1;
                        pointer-events: none;
                        transition: top 0.5s ease;
                        -webkit-transition: top0.5s ease;
                        -moz-transition: top 0.5s ease;
                        -ms-transition: top 0.5s ease;
                    }
                }
                 &:hover {
                    span{ &:after { top: 0;}}
                }
            }
        }
    }
}
.other-news {
    position: relative;
    @extend %layout;

    h3 {
        margin: 0 0 10px;
        @include font(25,28);
        font-weight: 600;
        display: block;
        @extend %text-center;
        color: $p42-color;
    }

    .mask {
        position: relative;
        @extend %layout;
        @extend %container;
        margin: 0 -5px;
    }
    .slideset {
        width: 100% !important;
        font-size: 0;
        line-height: 0;
        letter-spacing: -8px;
        white-space: nowrap;
        float: none !important;
    }
    .slide {
        float: none !important;
        width: 25% !important;
        display: inline-block;
        vertical-align: top;
        letter-spacing: 0;
        font-size: 12px;
        line-height: 15px;
        padding: 0 5px;
    }
    .slide-holder {
        display: block;
        white-space: normal;
        color: $p42-color;
        text-decoration: none;
        @extend %text-left;
        padding: 10px 5px;
    }
    .img-holder {
        border: 1px solid $p42-color;
    }
    img{
        @extend %img-res;
    }
    span, time { display: block; }
    .heading {
        @include font(20,23);
        @extend %text-left;
        margin: 0;
        padding: 5px 0;
    }
    time {
        color: $black;
        font-weight: 600;
    }
    .btn-prev, .btn-next {
        color: $white;
        background: rgba($black, 0.7);
        position: absolute;
        top: 50%;
        left:0;
        margin: -25px 0 0;
        text-decoration: none;

        span {
        font-size: 50px;
        line-height: 1;
        }
    }
    .btn-next {
        left: auto;
        right: 0;
    }
}