$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';

.agent-detail-page,
.propertyDetail-page {
  @extend %layout;
  padding: 5px;

  .add-holder-page {
    .Ads,
    .container-holder {
      @include media('<desktop'){
        float: none;
        max-width: inherit;
        overflow: hidden;
        width: 100%;
        @include align-reset(top, 14,20);
      }
    }
    .Ads {
      li {
        @include media('<desktop'){
          width: 33.33%;
          @include align(top);
        }
      }
    }
  }

  .detail-holder {
    box-shadow: 0 5px 13px rgba($black , 0.5);
    padding: 0 335px 10px 0;
    margin: 0 auto 50px;
    position: relative;
    background: $p42-background;
    @extend %layout;
    
    @include media('<desktop'){
      padding: 0 250px 10px 0;
    }

    @include media('<tablet'){
      padding: 0 10px 0 !important;
    }
  }
  .frame {
    display: block;
    width: 100%;
  }
  .info-blockAgent,
  .info-blockProperty {
    background: $p42-background;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 91;
    width: 100%;
    max-width: 335px;
    box-shadow: -7px 0 15px rgba($black , 0.15);
    padding: 8px;
    overflow: hidden;
    
    @include media('<desktop'){
      max-width: 250px;
    }

    @include media('<tablet'){
      max-width: inherit;
      position: static !important;
      width: 100% !important;
      margin: 0 0 10px !important;
      box-shadow: none !important;
    }
    .pull-left, .pull-right {
      width: 50%;
    }

    .price {
      @include font(34,40);
      @extend %text-center;
      box-shadow: 0 5px 15px -5px rgba($black, 0.5);
      padding: 10px;
      margin: 0 0 20px;
      margin: -10px -10px 20px;

      @include media('<widescreen'){
        @include font(22,28);
      }
    }
    .pictureHolder {
      width: 145px;
      margin: 0 auto 10px;
      @extend %layout;
      height: 145px;
      white-space: nowrap;
      background: $white;

      &:after {
        @include align(middle);
        height: 145px;
        overflow: hidden;
        margin: 0 0 0 -5px;
        content: '';
      }

      img {
        @include align(middle);
        white-space: normal;
        @extend %img-res;
      }
    }
    .heading {
      color: $p42-color;
      @include font(21,24);
      font-weight: 700;
      margin: 0 0 10px;

      a {
        color: $p42-color;
        text-decoration: none;
        @include align(top);

        &:hover {
          color: $orange;
        }
      }
    }
    .quick-links {
      @extend %pull-right;
      padding: 18px 0 0;
    }
    .small-heading {
      @extend %text-center;
      padding: 10px 0;
      text-transform: normal;
    }
    .star-rating {
      margin: 0;

      li {
        padding: 0;
      }
    }
    .timeOfAddedProperty {
      padding: 50px 0 0;

      @include media('<tablet'){
        padding: 45px 0 0;
      }
    }
  }
  .agent-detail-holder,
  .property-picture-holder {
    width: 100%;
    background:$p42-background;
    padding: 10px;

    @include media('<tablet'){
      margin: 0 0 20px;
      padding: 0;
    }

    h1 {
      @extend %text-left;
      @include font(27,30);
      margin: 0 0 15px;

      span {font-weight: 700;}

      @include media('<tablet'){
        @include font(18,22);
      }
    }
    
    .star-rating {
      @extend %pull-right;
    }
    .quick-links {
      padding: 7px 0 0;
    }
  }
  .propertyImage-pagination,
  .propertyImage-slider {
    position: relative;
    width: 100%;
    @extend %layout;

    @include media('<tablet'){
      max-width: 320px;
      margin: 0 auto;
    }

    .add-to-favorite {
      top: 0;

      @include media('<tablet'){
        left: auto;
        right: 0;
        background: lighten($dim-grey, 20%);
      }
    }
    .premiumProperty {
      top: 46px;
      width: 195px;

      @include media('<tablet'){
        position: absolute;
        width: 100px;
        top: 0;
      }
    }

    .propertyImage-mask,
    .mask {
      @extend %layout;
      width: 100% !important;
      margin: 0 -5px;

      @include media('<desktop'){
        margin: 0 -3px;
      }

      &:hover {
      .propertyImage-slider-btn-prev, .propertyImage-slider-btn-next,
      .propertyImage-pagination-btn-prev-1, .propertyImage-pagination-btn-next-1 { display: block;}
      }
    }
    .propertyImage-mask {
      @include media('<tablet'){
        max-width: 320px;
        margin: 0 auto 10px;
      }
    }
    .propertyImage-slideset,
    .slideset {
      width: 100% !important;
      font-size:0 !important;
      line-height: 0 !important;
      letter-spacing: -4px !important;
      white-space: nowrap !important;
    }
    .propertyImage-slide,
    .slide {
      display: inline-block !important;
      vertical-align: middle !important;
      width: 100% !important;
      font-size: 14px !important;
      line-height: 17px !important;
      letter-spacing: 0 !important;
      float: none !important;
      padding: 0 5px 5px;

      a {
        display: block;
        @extend %text-center;
      }

      @include media('<desktop'){
        padding: 0 3px 5px;
      }

      img {
        @extend  %img-res;
      }
    }
  }
  .slide {
    a {
      @extend %layout;
      display: block;

      img {

        &.landscape {
          width: 100% !important;
          max-width: inherit !important;
          max-height: inherit !important;
          height: 460px !important;

          @include media('<widescreen'){
            height: 390px !important;
          }

          @include media('<desktop'){
            height: 420px !important;
            width: auto !important;
            margin: 0 0 0 -130px;
          }

          @include media('<tablet'){
            height: 160px !important;
            margin: 0;
            width: 100% !important;
          }
        }
        &.portrait {
          height: 600px !important;

          @include media('<tablet'){
            height: 230px !important;
          }
        }
      }
    }
  }
  .propertyImage-slide {
    &.active {
      a{
        &:after{ @extend .hidden;}
      }
    }
    a{
      position: relative;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 54;
        background: rgba($white, 0.7);
        content: '';
      }
    }
  }
  .propertyImage-pagination {
  .propertyImage-slide {
      width: 20% !important;

      img {
        max-width: 155px;
        max-height: 95px;

        @include media('<widescreen'){
          min-height: 85px;
          max-height: 85px;
        }
        
        @include media('<desktop'){
          min-height: 65px;
          max-height: 65px;
        }
        
        @include media('<tablet'){
          min-height: 35px;
          max-height: 35px;
        }
      }
    }
  }
  .propertyImage-slider-btn-prev, .propertyImage-slider-btn-next,
  .propertyImage-pagination-btn-prev-1, .propertyImage-pagination-btn-next-1 {
    position: absolute;
    top: 50%;
    left: 10px;
    text-decoration: none;
    margin: -20px 0 0;
    display: none;

    @include media('<tablet'){
      display: none !important;
    }

    span[class^="icon-"],span[class*="icon-"]{
      font-size: 40px;
      line-height: 1;
    }
  }
  .propertyImage-slider-btn-next, .propertyImage-pagination-btn-next-1 {
    left: auto;
    right: 20px;
  }
  .overview-section {
    @extend %layout;
    background: $white;
    margin: 10px;
    display: block;
    padding: 20px;
    @extend %text-left;
    color: $p42-default-grey;

    @include media('<tablet'){
      margin: 0 0 10px;
      padding: 10px;
    }

    .small-heading {
      @extend %text-left;
      @extend .pull-left;
      padding: 0;

      @include media('<tablet'){
        float: none !important;
        padding: 0 0 10px;
        display: block;
        text-align: center;
      }
    }
    .btn-hollow {
      @extend .pull-right;

      @include media('<tablet'){
        float: none !important;
        display: block;
        text-align: center;
      }
    }
    .layout{
      padding: 0 0 15px;
    }
  }
  .extra-feature-section {
    margin: 10px;
    @extend %layout;
    border-radius: 8px;
    border: 1px solid rgba($p42-default-grey, 0.5);
    padding: 20px;

    @include media('<tablet'){
      padding: 10px;
      margin: 0 0 10px;
    }

    .small-heading {
      @extend %text-center;
      border-bottom: 1px solid rgba($p42-default-grey, 0.5);
      margin: 0 0 20px;
      padding: 0 0 20px;
    }
  }
  .trusted-agent {
    margin: 15px 0 10px;
    background: transparent;
    font-weight: 400;
  }
  .feature {
    @extend %layout;
    margin: 0 0 25px;

    .small-heading {
      @extend %text-left;
      border: 0;
      margin: 0;
    }
  }
  .feature-list {
    @extend %listreset;
    @include align-reset(top, 14,17);
    color: $p42-default-grey;
    margin: 0 -1px;
    font-weight: 700;

    li {
      width: 33.33%;
      color: $p42-default-grey;
      @include align-reset(top, 14,17);
      padding: 5px 10px 10px;
      border-left: 1px solid $dark-grey;

      @include media('<tablet'){
        width: 50%;
      }

      span[class^="icon-"],span[class*="icon-"]{
        font-size: 14px;
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
      }

      .text-feature , .stataus {
        width: 70%;
        position: relative;
      }
      .text-feature {
        padding: 0 0 0 15px;

        &:after {
          position: absolute;
          top: 4px;
          left: 0;
          border: 5px solid transparent;
          border-left: 5px solid $p42-default-grey;
          content: '';
          width: 5px;
          height: 5px;
        }
      }
      .stataus {
        @extend %text-right;
        font-weight: bold;
        width: 30%;
      }
    }
  }
  .agent-societies {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba($darken-grey, 0.7);
    border-radius: 8px;
    padding: 10px;
    margin: 52px 0 0;

    @include media('<desktop'){
      margin: 0;
    }

    .agent-mask {
      overflow: hidden;
      margin: 0 -5px;
      position: relative;

    }
    .agent-slideset {
      width: 100% !important;
      white-space: nowrap;
      font: 0 !important;
      line-height: 0 !important;
      letter-spacing: -7px !important;
    }
    .agent-slide {
      display: inline-block !important;
      vertical-align: top !important;
      letter-spacing: 0 !important;
      font-size: 12px !important;
      line-height: 15px !important;
      width: 20% !important;
      padding: 0 5px;
      white-space: normal;

      @include media('<widescreen'){
        width: 33.33% !important;
      }

      @include media('<desktop'){
        width: 100%  !important;
        text-align: center;
        background: $white;
      }

      @include media('<tablet'){
        width: 100% !important;
      }

      a {
        display: block;
        @include squar(95px, 95px);
        white-space: nowrap;
        background: $white;
        padding: 3px;
        margin: 0 auto;
        text-decoration: none;
        color: $p42-color;
        @extend %text-center;
        
        @include media('<tvscreen'){
            @include squar(100px, 100px);
        }

        &:after {
          height: 95px;
          margin: 0 0 0 -5px;
          @include align(middle);
          content: '';
          width: 1px;

          @include media('<tvscreen'){
            height: 100px;
          }
        }
        img {
          @include align(middle);
          white-space: normal;
          margin: 0 0 0 -4px;
        }
      }
      .image-description {
        @include align(middle);
        @extend %text-capital;
        font-weight: 600;
        @include font(12,15);
        word-break: break-all;
        white-space: normal;
        margin: 0 0 0 -4px;
      }
    }
    .small-heading {
      @include font(14,17);
      padding: 0 0 5px;

      @include media('<desktop'){
        @include font(12,15);
      }
    }
    .btn-prev, .btn-next {
      text-decoration: none;
      color: $white;
      position: absolute;
      top: 50%;
      left: 10px;
      background: rgba($black, 0.7);
      margin: -12px 0 0;
      display: none;

      &.disabled { display: none;}

      @include media('<widescreen'){
        display: block;
      }

      @include media('<desktop'){
        left: 0;
      }

      span[class^="icon-"],span[class*="icon-"]{
        font-size: 25px;
        line-height: 1;
      }
    }
    .btn-next {
      left: auto;
      right: 10px;

      @include media('<desktop'){
        right: 0;
      }
    }
  }
  .agent-picture{
    @include squar(260px, 260px);
    @extend .pull-left;
    position: relative;
    @extend %text-center;
    background: $white;
    white-space: nowrap;
    @extend %layout;

    @include media('<desktop'){
      @include squar(200px, 210px);
    }

    @include media('<tablet'){
      width: 100%;
      float: none !important;
    }
    
    &:after {
      height: 260px;
      overflow: hidden;
      margin: 0 0 0 -5px;
      @include align(middle);
      content: '';

      @include media('<desktop'){
        height: 210px;
      }
    }

    img {
      @include align(middle);
      white-space: normal;
      max-width: 100px;
      max-height: 100px;
      height: 100%;
    }

    .premiumProperty {
      top: 20px;
      width: 165px;
    }
  }
  .public-ui-features {
    @extend %text-right;
    margin: 10px 0 0;
    li {
      padding: 0;
      display: block;
      @include font(14,18);
    }
    strong {
      color: $dark-grey;
    }
  }
  .agent-description {
    @extend %layout;
    padding: 0 0 0 10px;

    @include media('<tablet'){
      padding: 10px 0 0;
    }

    h1 {
      margin: 0 0 5px;

      @include media('<desktop'){
        @include font(18,22);
      }
    }
    .location {
      padding: 0 0 5px;
      display: block;
    }
    .left-side {
      width: 75%;
      @extend .pull-left;

      @include media('<widescreen'){
        width: 65%;
      }

      @include media('<desktop'){
        width: 50%;
      }
    }
    .right-side {
      width: 25%;
      @extend .pull-right;

      @include media('<widescreen'){
        width: 35%;
      }
      @include media('<desktop'){
        width: 50%;
      }
    }
    
    .trusted-agent {
      margin: 15px 0 20px 40px;

      @include media('<tablet'){
        float: right;
        margin: 15px 24px 20px 40px;
      }
    }
    .star-rating {
      float: none !important;
      margin: 0 auto 10px;
    }
  }
}
.agent-detail-page {
  padding: 5px 5px 55px 5px;
  
  .frame { @extend %layout;}

  .detail-holder {
    min-height: 873px;
    overflow: visible;
    @extend %clearfix;
  }

  .col {
    width: 50%;
    @extend .pull-left;
    padding: 0 5px;
    border-left: 1px solid rgba($p42-default-grey, 0.5);

    @include media('<tablet'){
      width: 100%;
      border-left: 0;
      border-top: 1px solid rgba($p42-default-grey, 0.5);
      padding: 10px 5px;
    }

    &:first-child { border: 0;}

    .small-heading {
      margin: 0;
      padding: 0 0 10px;
      border: 0;
      @include font(14,17);
    }
    .list {
      @extend %listreset;
      @include font(17,20);

      @include media('<desktop'){
        @include font(14,18);
      }

      li {
        position: relative;
        display: block;
        color: $p42-default-grey;
        @include align-reset(top, 17,20);
        padding: 0 10px 10px;

        @include media('<desktop'){
          @include align-reset(top, 14,18);
        }

        > span {
          width: 40%;
          @extend %text-right;
          position: relative;
          font-weight: bold;
          
          &:first-child {
            @extend %text-left;
            width: 60%;
            padding: 0 0 0 30px;
            font-weight: normal;
          }
        }

        span[class^="icon-"],span[class*="icon-"]{
          position: absolute;
          top: 0;
          left: 0;
          font-size: 20px;
          line-height: 1;

          @include media('<desktop'){
            font-size: 16px;
          }
        }
      }
    }
  }
  .overview-section {
    .small-heading {
      padding: 0 0 20px;
    }
  }
  .agentDetail-list {
    @extend %listreset;
    color: $p42-default-grey;
    @include font(17,21);
    margin: 0 0 30px;

    @include media('<desktop'){
      @include font(14,18);
    }

    li {
      display: block;
      position: relative;
      padding: 5px 5px 5px 40px;

      &:after {
        position: absolute;
        top: 0;
        left: 30px;
        bottom: 0;
        width: 1px;
        background: #b0b2b5;
        content: '';
      }

      span[class^="icon-"],span[class*="icon-"]{
        position: absolute;
        top: 7px;
        left: 0;
        font-size: 20px;
        line-height: 1;
        color: #b0b2b5;
      }
      address {
       font-style: normal; 
      }
      a {
        color: $p42-default-grey;
        @include align(top);
        text-decoration: none;
        &:hover { color: $p42-color;}
      }
    }
  }
  .info-blockAgent {
    @include media('<tablet'){ max-width: 100%;}

    .small-heading,
    .heading  {
      padding: 10px;
      margin: 0 0 10px;
      box-shadow: 0 7px 7px -5px rgba($black, 0.5);
    }
  }
  .inquiry-email-form {
    @include media('<tablet'){
      max-width: inherit;
    }
    .field-holder {
      @include align-reset(top, 12,15);
    }
    button[type="submit"] {
      @include media('<desktop'){
        width: 165px;
      }
    }
  }
  .extra-feature-section {
    @include media('<desktop'){
      padding: 20px 0;
    }
  }
  .agent-detail-holder {
    @include media('<tvscreen'){
      padding: 0 10px 10px;
    }
    @include media('<tablet'){
      padding: 5px 0 0;
    }
    .premiumProperty { top: 2%;}
  }
}